@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3b2a45;
  --secondary: #7e7383;
  --accent: #a100ff;
  --outward-link-cursor: url("/outward-link-cursor.png"), auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hanalei: var(--font-hanalei-fill);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background.svg");
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: auto;
}
